<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="/static/css/dashboardstyles.css" rel="stylesheet">
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
        <div class="menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="title_section">
                <div class="title">
                    <div class="title_div">
                        <div class="logo">
                            <image src="/static/images/nbalogo.png" class="website_logo_img"></image>
                        </div>
                        <div class="logo_title">
                            <h1>NBA</h1>
                        </div>
                    </div>
                    <div class="title_div"><h2>Players Dashboard</h2></div>
                </div>
            </div>
            <div class="division_section">
                <div class="division_list_container">
                    <div class="division_list">
                        <div class="division_column">
                            <div class="division_column_conference"><h3>Eastern</h3></div>
                            <div class="division">
                                <button class="division_button"><h3>Atlantic</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>Central</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>South</h3></button>
                            </div>
                        </div>
                        <div class="division_column">
                            <div class="division_column_conference"><h3>Western</h3></div>
                            <div class="division">
                                <button class="division_button"><h3>North West</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>Pacific</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>South West</h3></button>
                            </div>
                        </div>
                    </div>
                    <div class="all_container">
                        <div class="division_wide">
                            <button class="division_button"><h3>ALL</h3></button>
                        </div>
                    </div>
                </div>
                <div class="team_list_container">
                    <input type="text" name="team_search" class="team_search_bar uppercase" placeholder="SEARCH">
                    <div class="team_list">
                        <ul id="team_container" class="team_container">
                            <li class="team_item">
                                <button class="team_item_button bolder">
                                    <image src="lakerslogo.png" class="team_list_logo"></image>
                                    <h4>LOS ANGELES LAKERS</h4>
                                </button>
                            </li>
                            <li class="team_item">
                                <button class="team_item_button bolder">
                                    <image src="lakerslogo.png" class="team_list_logo"></image>
                                    <h4>LOS ANGELES LAKERS</h4>
                                </button>
                            </li>
                            <li class="team_item">Item 2</li>
                            <li class="team_item">Item 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dashboard">
        <div class="nav_bar">
            <div class="nav_left">
                <div class="menu_button_container">
                    <button onclick="openNav()" class="menu_button">
                        <div class="menu_block"></div>
                        <div class="menu_block"></div>
                        <div class="menu_block"></div>
                    </button>
                </div>
                <div class="dashboard_text"><h2>Los Angeles Lakers</h2></div>
            </div>
            
            <div class="profile">
                <div class="username"><h2>{{.User}}</h2></div>
                <div class="profile_photo_container">
                    <image class="profile_photo" src="{{.ProfilePhoto}}"></image>
                </div>
                <div class="logout_button_container">
                    <form method="GET" action="/logout/">
                        <button class="logout_button" type="submit">
                            <image src="/static/images/logout.png" class="logout_button_img"></image>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="filter_bar">
            <div class="filter_dropdown_container">
                    <div class="filter_title bolder uppercase">FILTER</div>
                    <div class="filter_dropdown">
                        <div class="dropdown">
                            <button onclick="filter_dropdownFunction()" class="dropdown_button">Dropdown</button>
                            <div id="dropdown_content" class="dropdown_content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                            </div>
                          </div>
                    </div>
            </div>
            <div class="player_search_bar_container">
                <div class="player_search_bar_container">
                    <input type="text" name="player_search" class="player_search_bar uppercase" placeholder="SEARCH">
                </div>
            </div>
        </div>
        <div class="card_list_container">
            <div class="card_grid" id="cardGrid">
                <!-- <div class="card_container">
                    <div class="card">
                        <div class="content">
                            <div class="card_front">
                                <div class="inner_card">
                                    <div class="card_background_container">
                                        <image src="/static/images/court.jpg" class="background_image"></image>
                                    </div>
                                    <div class="card_header">
                                        <div class="card_name_container">
                                            <div class="card_name">
                                                <h4>Lebron James</h4>
                                            </div>
                                        </div>
                                        <div class="card_team_container">
                                            <div class="card_team">
                                                <image src="lakerslogo.png" class="team_logo"></image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_image_container">
                                        
                                        <div class="card_player_container">
                                            <image src="/lebron.png" class="player_image"></image>
                                        </div>
                                        <div class="card_stats_container">
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PPG</h5></div>
                                                <div class="card_stats_value"><h4>25.5</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PPG</h5></div>
                                                <div class="card_stats_value"><h4>25.5</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PPG</h5></div>
                                                <div class="card_stats_value"><h4>25.5</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PPG</h5></div>
                                                <div class="card_stats_value"><h4>25.5</h4></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body">
                                        <div class="card_body_row">
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Birthdate</h5></div>
                                                <div class="card_info_value"><h4>12/30/84</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Age</h5></div>
                                                <div class="card_info_value"><h4>39 yrs</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Experience</h5></div>
                                                <div class="card_info_value"><h4>20 yrs</h4></div>
                                            </div>
                                        </div>
                                        <div class="card_body_row">
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Height</h5></div>
                                                <div class="card_info_value"><h4>6'9"</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Weight</h5></div>
                                                <div class="card_info_value"><h4>250lb</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Country</h5></div>
                                                <div class="card_info_value"><h4>USA</h4></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card_back">
                                <image src="/static/images/card_back.png" class="card_back_img"></image>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="card_container"></div>
                <div class="card_container"></div>
                <div class="card_container"></div> -->
                
            </div>
        </div>
    </div>
    
  </body>
  <script src="/static/js/dashboard.js"></script>
</html>